distribute==0.7.3
Zope2==2.13.22
Twisted==13.2.0
celery==3.0.15
eventlet==0.14.0
relstorage==1.5.1
MySQL-python==1.2.3
txAMQP==0.6.2
supervisor==3.0
redis==2.7.2
networkx==1.7
poster==0.6.0
protobuf==2.5.0
bottle==0.12.4
decorator==3.4.0
dm.reuse==1.1
five.localsitemanager==2.0.5
PyYAML==3.10
Products.AdvancedQuery==3.0.3
Products.CMFCore==2.2.4
Products.GenericSetup==1.6.3
Products.ManagableIndex==2.1.5
Products.OFolder==2.0.1
Products.PluggableAuthService==1.7.1
Products.PluginRegistry==1.2
Products.ZSQLMethods==2.13.4